<a href="https://colab.research.google.com/github/19PA1A0514/07-03-2020-new/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import the required packages
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model

In [4]:
a=pd.read_csv("IRIS.csv")# for reading the data
a

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
a.isna().any()# checking there is any empty values if there is empty values we can fill it by ffill method

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [0]:
X=a[['petal_length', 'petal_width']].values

y=a['sepal_length'].values

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25) #splitting 75 percent data into train and remaining 25 percent into test data

In [9]:
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
model.intercept_

4.171612524668556

In [11]:
model.coeff_

array([ 0.56669053, -0.36028452])

In [13]:
predicted_quality=model.predict(X_test)
predicted_quality.shape

(38,)

In [0]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": predicted_quality.flatten()})
# To know the difference between actual and difference

In [17]:

Actual_predicted

    Actual  Predicted
0      7.7   7.253123
1      5.4   6.181293
2      5.0   4.892922
3      5.4   4.949591
4      4.5   4.800225
5      5.6   6.181293
6      6.1   6.840681
7      5.2   4.892922
8      6.8   6.686432
9      6.4   6.346418
10     5.0   5.681407
11     4.8   4.928951
12     5.7   6.026674
13     5.0   4.949591
14     5.9   6.413222
15     7.7   6.799770
16     6.7   6.645151
17     6.7   6.809905
18     6.7   6.294631
19     5.2   5.877307
20     6.5   6.639898
21     4.8   4.856894
22     5.0   4.800225
23     5.0   4.862147
24     6.3   6.320525
25     5.1   4.913563
26     5.2   4.949591
27     6.3   6.671044
28     6.7   6.160653
29     6.0   6.464638
30     5.7   6.284496
31     6.7   6.480397
32     5.8   6.377194
33     6.0   6.243215
34     4.8   5.176268
35     5.1   4.949591
36     5.0   5.794745
37     4.6   4.666246

In [0]:
from sklearn.metrics import r2_score # to find error

In [26]:
r2_score(y_test,predicted_quality)

0.7384133759667519